.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    margin: .5rem;
    min-width: 300px;
    max-width: 350px;
    padding: .5rem;
    background: #2D3236;
    box-shadow: 0px 13px 36px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    z-index: 0;
    transition: all 0.5s ease-in-out;

    a {
        .info {
            .title {
                text-transform: uppercase;
                color: #ffffff;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }
}

/* Hover actions */
.card:hover {
    z-index: 5;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 767px) {
    .card {
        margin-left: 0;
    }
}

